<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <!-- <link href=".static/assets/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link href="./static/assets/favicon.png" rel="icon">

  <title>Portfolio</title>  

<link href="{{ url_for('static', filename='main.97292821.css') }}" rel="stylesheet"></head>

<body>
{% block body %}
{% endblock %}
    <footer class="footer-container white-text-container">
        <div class="container">
            <div class="row">
                    <div class="col-md-4">
                        <h4>Phone</h4>
                        <p>+ 234 708 441 9791</p>
                        <h4>E-mail</h4>
                        <p>muizzkara91@gmail.com</p>
                        <h4>Address</h4>
                        <p>iyana iyesi, Sango-Ota, Ogun state, Nigeria.</p>
                        <h4>Open hours</h4>
                        <p>Mon - Fri : 9AM - 5PM</p>
                    </div>

                    <div class="col-md-4">
                        <h3>Contact me on Social Media</h3>
                        <div>
                            <p>
                                <a href="https://twitter.com/_real_YG" target="_blank" class="fa-icon" title="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.facebook.com/muizz.kara" target="_blank" class="fa-icon" title="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.instagram.com/yiwolaa_gfx/" target="_blank" class="fa-icon" title="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div>
                            <p><small>© 2019 - 2020</a></small></p>
                        </div>

                    </div>

                    <div class="col-md-4">
                            
                        <h4>Go-to</h4>
                        
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name='url 'class="form-control footer-input-text" placeholder="Input a Url">
                                <div class="input-group-btn">
                                    <button type="/url" class="btn btn-default btn-newsletter ">Go</button>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>

