<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href=".static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.97292821.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> -->

      <!-- <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      

      </div>
    </div>
  </nav> -->
</header>
<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./static/assets/images/bg1.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Hello World...<br>Welcome to<br>my Portfolio</h1>
                <p class="">GET IN TOUCH WITH ME NOW</p>
                <a href="https://wa.me/+2347084419791" target="_blank" class="btn btn-primary btn-lg anchor-link" title="">WhatsApp</a>
            </div>
        </div>
    </div>
</div>
                                              

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">What we do</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <!-- fa fa-code -->
                    <i class="fa fa-code fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Web Development</h3>
                <p>From producing your amazing portfolio for your products to finding a spot in the ecommerce world for your brand, we are always here for you 👌.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Graphics Design</h3>
                <p>Do you need a design for your brand, someone that could handle how amazing your post appears to your audience? Look no further, YG got you covered.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="	fa fa-mobile-phone fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Mobile App</h3>
                <p> In need of a mobile app? It's only one message away✌.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./static/assets/images/img-10.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p>Illustration</p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>About Me</h2>
                <h3>Muizz Olayiwola Karaole</h3>
                <div>
                    <p>
                        <a href="https://twitter.com/_real_YG" target="_blank" class="fa-icon" title="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                        <a href="https://www.facebook.com/muizz.kara" target="_blank" class="fa-icon" title="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/yiwolaa_gfx/" target="_blank" class="fa-icon" title="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
                <p>i'm a young Guy passionate about tech and design.</p>
                <p>I started programming about 2 years ago. Started with HTML and CSS, then gradually i moved to PHP and javascript where i also learnt some frameworks like Laravel, Code igniter, Node js, and Adonis js.</p>
                <p>Right now i'm currently learning Python and this very web page is developed using a python framework called Flask.</p>

            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Some of my Design</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/2.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/3.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/5.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Get in touch</h2>
                </div>
                <form action="submit" method='post'>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" name ="message" placeholder="Enter your message" required ></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Send message</button>
                    <a href="" class="btn btn-default">Reset</a>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>Phone</h4>
                    <p>+ 234 708 441 9791</p>
                    <h4>E-mail</h4>
                    <p>muizzkara91@gmail.com</p>
                    <h4>Address</h4>
                    <p>iyana iyesi, Sango-Ota, Ogun state, Nigeria.</p>
                    <h4>Open hours</h4>
                    <p>Mon - Fri : 9AM - 5PM</p>
                </div>

                <div class="col-md-4">
                    <h3>Contact me on Social Media</h3>
                    <div>
                        <p>
                            <a href="https://twitter.com/_real_YG" target="_blank" class="fa-icon" title="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.facebook.com/muizz.kara" target="_blank" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.instagram.com/yiwolaa_gfx/" target="_blank" class="fa-icon" title="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© 2019 - 2020</a></small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <h4>Go-to</h4>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name='url 'class="form-control footer-input-text" placeholder="Input a Url">
                            <div class="input-group-btn">
                                <button type="/url" class="btn btn-default btn-newsletter ">Go</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src="./main.faaf51f9.js"></script>